<!-- index.ejs -->
<%- include('header') %>
  <% for (let i = 0; i<messages.length; i++){ %>
  	<p>
		<%= messages[i].username %>
		<%= messages[i].text %>
		<%= messages[i].added %>

	</p>
  <%}%>
<%- include('footer') %>

